body {
  margin: 0 30%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.deleteButton {
  border-radius: 70%;
  margin-right: 10px;
  border: none;
  background: transparent;
  color: red;
}

.todoInputBody {
  /* margin-top: 5px; */
  display: flex;
  justify-content: space-between;
  border: 1px solid #ececec;
  padding-bottom: 2px;
  color: #727272;

  padding-top: 2px;
  align-items: center;
  font-size: 25px;
  background-color: white;
  /* text-decoration: line-through; */
}

.wholeBody {
  justify-content: center;
  align-items: center;
  /* font-weight: 300; */
  color: #e9dbda;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 5px 5px #ebebeb;
}
.inputArea {
  padding-left: 25px;
  width: 94.8%;
  height: 50px;
  font-size: 35px;
  border: 1px solid #ececec;
  color: #c7c7c7;
}
::placeholder {
  color: #c7c7c7;
  font-size: 25px;
  align-content: center;
  display: flex;
  justify-content: center;
}

.outputText {
  font-size: 35px;
  color: #c7c7c7;
}

.headerTodo {
  display: flex;
  justify-content: center;
  font-weight: 150;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.checkBox {
  width: 1.5em;
  height: 1.5em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkBox:checked {
  background-color: #89cabb;
}

.completed {
  text-decoration: line-through;
  color: #727272;
}

.container {
  width: 100%;
  min-height: 400px;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 5px 5px #ebebeb;
}
